<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="jp.gr.procon.proconapp"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>

    <permission
        android:name="${applicationId}.permission.C2D_MESSAGE"
        android:protectionLevel="signature"/>
    <uses-permission android:name="${applicationId}.permission.C2D_MESSAGE"/>

    <application
        android:name=".ProconApplication"
        android:allowBackup="true"
        android:icon="@mipmap/procon_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <receiver
            android:name="com.microsoft.windowsazure.notifications.NotificationsBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <category android:name="jp.gr.procon.proconapp"/>
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.activity.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.EnterActivity"
            android:label="@string/title_activity_app_name"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".ui.activity.MainActivity"
            android:label="@string/title_activity_app_name">
        </activity>

        <activity
            android:name=".ui.activity.NoticeListActivity"
            android:label="@string/title_activity_notice">
        </activity>
        <activity
            android:name=".ui.activity.GamePhotoListActivity"
            android:label="@string/title_activity_photo">
        </activity>
        <activity
            android:name=".ui.activity.GameResultListActivity"
            android:label="@string/title_activity_game_result">
        </activity>
        <activity android:name=".ui.activity.NoticeDetailActivity">
        </activity>
        <activity
            android:name=".ui.activity.ProgramActivity"
            android:label="@string/title_activity_program"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".ui.activity.AccessActivity"
            android:label="@string/title_activity_access"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".ui.activity.SettingActivity"
            android:label="@string/title_activity_setting"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".ui.activity.NoticeSettingActivity"
            android:label="@string/title_activity_notice_setting">
        </activity>

        <activity
            android:name=".ui.activity.LicenseActivity"
            android:label="ライセンス">
        </activity>
    </application>

</manifest>
